@import 'reset/reset.css';
html,
body {
  height: 100%;
}
html {
  font-weight: bold;
  color: #fff;
  padding: 30px;
  height: auto;
}
header {
  text-align: center;
  margin: 30px 0 60px;
}
figure {
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
figure figure {
  margin-top: 0;
  margin-bottom: 0;
}
section {
  *zoom: 1;
  max-width: 1100px;
  margin: 30px auto;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
section:last-of-type {
  margin-bottom: 0;
}
section:nth-of-type(1) {
  background: #42cafd;
}
section:nth-of-type(1) figure {
  float: left;
  width: calc(100% * 1/1 - (30px - 30px / 1));
  background: #22c1fd;
}
section:nth-of-type(1) figure:nth-child(n) {
  float: left;
  margin-right: 30px;
}
section:nth-of-type(1) figure:nth-child(1n) {
  margin-right: 0;
  float: right;
}
section:nth-of-type(1) figure:last-child {
  margin-right: 0;
}
section:nth-of-type(1) figure:nth-child(n) {
  clear: none;
}
section:nth-of-type(1) figure:nth-child(1n + 1) {
  clear: both;
}
@media (min-width: 500px) {
  section:nth-of-type(1) figure {
    float: left;
    width: calc(100% * 1/2 - (30px - 30px / 2));
  }
  section:nth-of-type(1) figure:nth-child(n) {
    float: left;
    margin-right: 30px;
  }
  section:nth-of-type(1) figure:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  section:nth-of-type(1) figure:last-child {
    margin-right: 0;
  }
  section:nth-of-type(1) figure:nth-child(n) {
    clear: none;
  }
  section:nth-of-type(1) figure:nth-child(2n + 1) {
    clear: both;
  }
}
@media (min-width: 800px) {
  section:nth-of-type(1) figure {
    float: left;
    width: calc(100% * 1/3 - (30px - 30px / 3));
  }
  section:nth-of-type(1) figure:nth-child(n) {
    float: left;
    margin-right: 30px;
  }
  section:nth-of-type(1) figure:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  section:nth-of-type(1) figure:last-child {
    margin-right: 0;
  }
  section:nth-of-type(1) figure:nth-child(n) {
    clear: none;
  }
  section:nth-of-type(1) figure:nth-child(3n + 1) {
    clear: both;
  }
}
@media (min-width: 1100px) {
  section:nth-of-type(1) figure {
    float: left;
    width: calc(100% * 1/4 - (30px - 30px / 4));
  }
  section:nth-of-type(1) figure:nth-child(n) {
    float: left;
    margin-right: 30px;
  }
  section:nth-of-type(1) figure:nth-child(4n) {
    margin-right: 0;
    float: right;
  }
  section:nth-of-type(1) figure:last-child {
    margin-right: 0;
  }
  section:nth-of-type(1) figure:nth-child(n) {
    clear: none;
  }
  section:nth-of-type(1) figure:nth-child(4n + 1) {
    clear: both;
  }
}
section:nth-of-type(2) {
  background: #66b3ba;
}
section:nth-of-type(2) figure {
  float: left;
  width: calc(100% * 1/3 - (30px - 30px / 3));
  background: #52a9b1;
}
section:nth-of-type(2) figure:nth-child(n) {
  float: left;
  margin-right: 30px;
}
section:nth-of-type(2) figure:nth-child(3n) {
  margin-right: 0;
  float: right;
}
section:nth-of-type(2) figure:last-child {
  margin-right: 0;
}
section:nth-of-type(2) figure:nth-child(n) {
  clear: none;
}
section:nth-of-type(2) figure:nth-child(3n + 1) {
  clear: both;
}
section:nth-of-type(2) figure:first-child {
  margin-left: calc(100% * 1/3 - (30px - 30px / 3) + 30px);
}
section:nth-of-type(3) {
  background: #8eb19d;
}
section:nth-of-type(3) figure {
  float: left;
  width: calc(100% * 1/3 - (30px - 30px / 3));
  background: #7ba48d;
}
section:nth-of-type(3) figure:nth-child(n) {
  float: left;
  margin-right: 30px;
}
section:nth-of-type(3) figure:nth-child(3n) {
  margin-right: 0;
  float: right;
}
section:nth-of-type(3) figure:last-child {
  margin-right: 0;
}
section:nth-of-type(3) figure:nth-child(n) {
  clear: none;
}
section:nth-of-type(3) figure:nth-child(3n + 1) {
  clear: both;
}
section:nth-of-type(3) figure figure {
  float: left;
  width: calc(100% * 1/2 - (30px - 30px / 2));
  background: #68977c;
}
section:nth-of-type(3) figure figure:nth-child(n) {
  float: left;
  margin-right: 30px;
}
section:nth-of-type(3) figure figure:nth-child(2n) {
  margin-right: 0;
  float: right;
}
section:nth-of-type(3) figure figure:last-child {
  margin-right: 0;
}
section:nth-of-type(3) figure figure:nth-child(n) {
  clear: none;
}
section:nth-of-type(3) figure figure:nth-child(2n + 1) {
  clear: both;
}
section:nth-of-type(4) {
  position: relative;
  background: #f0d2d1;
  height: 300px;
}
section:nth-of-type(4) > * {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
section:nth-of-type(4) figure {
  float: left;
  width: calc(100% * 1/3 - (30px - 30px / 3));
  margin-top: 0;
  background: #e5b1af;
  margin-bottom: 0;
}
section:nth-of-type(4) figure:nth-child(n) {
  float: left;
  margin-right: 30px;
}
section:nth-of-type(4) figure:nth-child(3n) {
  margin-right: 0;
  float: right;
}
section:nth-of-type(4) figure:last-child {
  margin-right: 0;
}
section:nth-of-type(4) figure:nth-child(n) {
  clear: none;
}
section:nth-of-type(4) figure:nth-child(3n + 1) {
  clear: both;
}
section:nth-of-type(5) {
  background: #f19a3e;
}
section:nth-of-type(5) figure {
  float: left;
  width: calc(100% * 1/1 - (30px - 30px / 1));
  height: auto;
  line-height: 25px;
  font-weight: normal;
  padding: 15px;
  background: #ef8b22;
}
section:nth-of-type(5) figure:nth-child(n) {
  float: left;
  margin-right: 30px;
}
section:nth-of-type(5) figure:nth-child(1n) {
  margin-right: 0;
  float: right;
}
section:nth-of-type(5) figure:last-child {
  margin-right: 0;
}
section:nth-of-type(5) figure:nth-child(n) {
  clear: none;
}
section:nth-of-type(5) figure:nth-child(1n + 1) {
  clear: both;
}
@media (min-width: 500px) {
  section:nth-of-type(5) figure {
    float: left;
    width: calc(100% * 2/4 - (30px - 30px / 2));
  }
  section:nth-of-type(5) figure:nth-child(n) {
    float: left;
    margin-right: 30px;
  }
  section:nth-of-type(5) figure:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  section:nth-of-type(5) figure:last-child {
    margin-right: 0;
  }
  section:nth-of-type(5) figure:nth-child(n) {
    clear: none;
  }
  section:nth-of-type(5) figure:nth-child(2n + 1) {
    clear: both;
  }
}
@media (min-width: 800px) {
  section:nth-of-type(5) figure {
    float: left;
    width: calc(100% * 2/6 - (30px - 30px / 3));
  }
  section:nth-of-type(5) figure:nth-child(n) {
    float: left;
    margin-right: 30px;
  }
  section:nth-of-type(5) figure:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  section:nth-of-type(5) figure:last-child {
    margin-right: 0;
  }
  section:nth-of-type(5) figure:nth-child(n) {
    clear: none;
  }
  section:nth-of-type(5) figure:nth-child(3n + 1) {
    clear: both;
  }
}
@media (min-width: 1100px) {
  section:nth-of-type(5) figure {
    float: left;
    width: calc(100% * 2/8 - (30px - 30px / 4));
  }
  section:nth-of-type(5) figure:nth-child(n) {
    float: left;
    margin-right: 30px;
  }
  section:nth-of-type(5) figure:nth-child(4n) {
    margin-right: 0;
    float: right;
  }
  section:nth-of-type(5) figure:last-child {
    margin-right: 0;
  }
  section:nth-of-type(5) figure:nth-child(n) {
    clear: none;
  }
  section:nth-of-type(5) figure:nth-child(4n + 1) {
    clear: both;
  }
}
section:nth-of-type(6) {
  background: #1e90ff;
}
section:nth-of-type(6) figure {
  margin-bottom: 30px;
  height: calc(100% * 1/3 - (30px - 30px / 3));
  margin-top: 0;
  background: #0182ff;
  padding: 30px;
}
section:nth-of-type(6) figure:last-child {
  margin-bottom: 0;
}
section:nth-of-type(7) {
  background: #ff6347;
}
section:nth-of-type(7) figure {
  margin-bottom: 30px;
  float: left;
  margin-right: 30px;
  width: calc(100% * 1/3 - (30px - 30px / 3));
  height: calc(100% * 1/3 - (30px - 30px / 3));
  margin-top: 0;
  background: #ff4726;
  line-height: inherit;
  padding: 30px;
}
section:nth-of-type(7) figure:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
section:nth-of-type(7) figure:nth-child(n) {
  clear: none;
}
section:nth-of-type(7) figure:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
section:nth-of-type(7) figure:nth-child(3n + 1) {
  clear: both;
}
section:nth-of-type(7) figure:nth-child(3n) {
  margin-right: 0;
  float: right;
}
