.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }

.row {
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: '';
    display: table; }
  .row:after {
    clear: both; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow-x: hidden;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 30px; }

header {
  text-align: center;
  margin: 30px 0 60px; }

figure {
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }
  figure figure {
    margin-top: 0;
    margin-bottom: 0; }

section {
  margin-top: 30px;
  margin-bottom: 30px; }
  section:last-of-type {
    margin-bottom: 0; }
  section:nth-of-type(1) {
    background: #42CAFD; }
    section:nth-of-type(1) figure {
      float: left;
      width: calc(100% * 1 - 30px);
      margin-left: 15px;
      margin-right: 15px;
      background: #10bcfc; }
      @media (min-width: 500px) {
        section:nth-of-type(1) figure {
          float: left;
          width: calc(100% * 0.5 - 30px);
          margin-left: 15px;
          margin-right: 15px; } }
      @media (min-width: 800px) {
        section:nth-of-type(1) figure {
          float: left;
          width: calc(100% * 0.33333 - 30px);
          margin-left: 15px;
          margin-right: 15px; } }
      @media (min-width: 1100px) {
        section:nth-of-type(1) figure {
          float: left;
          width: calc(100% * 0.25 - 30px);
          margin-left: 15px;
          margin-right: 15px; } }
  section:nth-of-type(2) {
    background: #66B3BA; }
    section:nth-of-type(2) figure {
      float: left;
      width: calc(100% * 0.33333 - 30px);
      margin-left: 15px;
      margin-right: 15px;
      background: #4a9ca3; }
      section:nth-of-type(2) figure:first-child {
        margin-left: calc(100% * 0.33333 + (30px / 2)); }
  section:nth-of-type(3) {
    background: #8EB19D; }
    section:nth-of-type(3) figure {
      float: left;
      width: calc(100% * 0.33333 - 30px);
      margin-left: 15px;
      margin-right: 15px;
      background: #709c83; }
      section:nth-of-type(3) figure .row {
        *zoom: 1;
        margin-left: -15px;
        margin-right: -15px; }
        section:nth-of-type(3) figure .row:before, section:nth-of-type(3) figure .row:after {
          content: '';
          display: table; }
        section:nth-of-type(3) figure .row:after {
          clear: both; }
      section:nth-of-type(3) figure figure {
        float: left;
        width: calc(100% * 0.5 - 30px);
        margin-left: 15px;
        margin-right: 15px;
        background: #59806a; }
  section:nth-of-type(4) {
    background: #F6EFA6; }
    section:nth-of-type(4) figure {
      float: left;
      width: calc(100% * 0.5 - 30px);
      margin-left: 15px;
      margin-right: 15px;
      background: #f1e778; }
      @media (min-width: 800px) {
        section:nth-of-type(4) figure:first-child {
          position: relative;
          left: calc(100% * 0.5); }
        section:nth-of-type(4) figure:last-child {
          position: relative;
          left: calc(100% * -0.5); } }
  section:nth-of-type(5) {
    background: #F0D2D1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; }
    section:nth-of-type(5) figure {
      float: left;
      width: calc(100% * 0.33333 - 30px);
      margin-left: 15px;
      margin-right: 15px;
      background: #e3acab;
      margin-bottom: 0; }
  section:nth-of-type(6) {
    background: #F19A3E; }
    section:nth-of-type(6) figure {
      float: left;
      width: calc(100% * 1 - 30px);
      margin-left: 15px;
      margin-right: 15px;
      height: auto;
      line-height: 25px;
      font-weight: normal;
      padding: 15px;
      background: #eb8111; }
      @media (min-width: 500px) {
        section:nth-of-type(6) figure {
          float: left;
          width: calc(100% * 0.5 - 30px);
          margin-left: 15px;
          margin-right: 15px; }
          section:nth-of-type(6) figure:nth-child(n) {
            clear: none; }
          section:nth-of-type(6) figure:nth-child(2n + 1) {
            clear: both; } }
      @media (min-width: 800px) {
        section:nth-of-type(6) figure {
          float: left;
          width: calc(100% * 0.33333 - 30px);
          margin-left: 15px;
          margin-right: 15px; }
          section:nth-of-type(6) figure:nth-child(n) {
            clear: none; }
          section:nth-of-type(6) figure:nth-child(3n + 1) {
            clear: both; } }
      @media (min-width: 1100px) {
        section:nth-of-type(6) figure {
          float: left;
          width: calc(100% * 0.25 - 30px);
          margin-left: 15px;
          margin-right: 15px; }
          section:nth-of-type(6) figure:nth-child(n) {
            clear: none; }
          section:nth-of-type(6) figure:nth-child(4n + 1) {
            clear: both; } }

/*# sourceMappingURL=style.css.map */
