.center {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.row {
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  padding-bottom: 30px;
}
h1 {
  text-align: center;
  margin: 60px 0;
}
h1 a {
  color: #333;
  text-decoration: none;
}
figure {
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 30px;
}
section {
  background: #eee;
  margin-top: 30px;
  margin-bottom: 30px;
}
section:nth-of-type(1) * {
  background: rgba(0,0,255,0.1);
}
section:nth-of-type(1) figure {
  float: left;
  width: calc(100% * 1 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 500px) {
  section:nth-of-type(1) figure {
    float: left;
    width: calc(100% * 0.5 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 800px) {
  section:nth-of-type(1) figure {
    float: left;
    width: calc(100% * 0.333333333333333 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 1100px) {
  section:nth-of-type(1) figure {
    float: left;
    width: calc(100% * 0.25 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
section:nth-of-type(2) * {
  background: rgba(0,128,0,0.1);
}
section:nth-of-type(2) figure {
  float: left;
  width: calc(100% * 0.333333333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
section:nth-of-type(2) figure:first-child {
  margin-left: calc(100% * 0.333333333333333 + (30px / 2));
}
section:nth-of-type(3) * {
  background: rgba(255,0,0,0.1);
}
section:nth-of-type(3) figure {
  float: left;
  width: calc(100% * 0.333333333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
section:nth-of-type(3) figure .row {
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}
section:nth-of-type(3) figure .row:before,
section:nth-of-type(3) figure .row:after {
  content: '';
  display: table;
}
section:nth-of-type(3) figure .row:after {
  clear: both;
}
section:nth-of-type(3) figure figure {
  float: left;
  width: calc(100% * 0.5 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
section:nth-of-type(4) * {
  background: rgba(255,165,0,0.1);
}
section:nth-of-type(4) figure {
  float: left;
  width: calc(100% * 0.5 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
section:nth-of-type(4) figure:first-child {
  position: relative;
  left: calc(100% * 0.5);
}
section:nth-of-type(4) figure:last-child {
  position: relative;
  left: calc(100% * -0.5);
}
section:nth-of-type(5) {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}
section:nth-of-type(5) * {
  background: rgba(128,0,128,0.1);
}
section:nth-of-type(5) figure {
  float: left;
  width: calc(100% * 0.333333333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}
section:nth-of-type(6) * {
  background: rgba(0,0,0,0.1);
}
section:nth-of-type(6) figure {
  float: left;
  width: calc(100% * 0.333333333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
section:nth-of-type(7) {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
section:nth-of-type(7) figure {
  float: left;
  width: calc(100% * 0.333333333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
  background: rgba(75,0,130,0.1);
}
section:nth-of-type(7) figure .row {
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}
section:nth-of-type(7) figure .row:before,
section:nth-of-type(7) figure .row:after {
  content: '';
  display: table;
}
section:nth-of-type(7) figure .row:after {
  clear: both;
}
section:nth-of-type(7) figure .row figure {
  float: left;
  width: calc(100% * 0.5 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
